__pycache__/
*.pyc
.git/
.venv/
venv/
*.log
.env
tests/
htmlcov/
.pytest_Dockerfile*
docker-compose*
.dockerignore
omnibioai-dev-hub-ui/node_modules
omnibioai-dev-hub-ui/src
omnibioai-dev-hub-ui/public
omnibioai-dev-hub-ui/*.json
omnibioai-dev-hub-ui/*.js
omnibioai-dev-hub-ui/*.ts
omnibioai-dev-hub-ui/index.html
omnibioai-dev-hub-ui/README.md
